@{
    ViewData["Title"] = "Home Page";
    ViewData["Thingy1"] = "Thing of Things";
    ViewData["Thingy2"] = "2 Thing of Things";
    Layout = "/views/shared/_Layout.cshtml";

}


<h1>CIT Lab Information</h1>
<p>
    A common information portal for the CIT Lab.
</p>


